section.single__post
  article.post__about
    h1.post__title.single__post-title= title
    img.post__img.single__post-img(src=`${image}`, alt='formula 1')
    p.post__text.single__post-text #{paragraph1}
    blockquote.blockquote.single__post-text #{blockquote1}
    p.post__text.single__post-text #{paragraph2}
    h2.post__subtitle #{subtitle}
    p.post__text.single__post-text #{paragraph3}
    p.post__text.single__post-text #{paragraph4}
    p.post__text.single__post-text #{paragraph5}
