section.history__post
  article.post__history
    h1.post__title.history__post-title= title
    span.post__author Автор: М.-Х. Куузе
    span.post__source Источник: #[span.post__magazine Журнал «АМС»,] #[span.post__magazine-number №1,] #[time.post__history-date(pubdate datetime='1991') 1991]
    img.post__img.history__post-img(src=`${image1}`, alt='История гонок с открытыми колесами')
    p.post__text.history__post-text #{paragraph1}
    include ../btn_top
    p.post__text.history__post-text #{paragraph2}
    p.post__text.history__post-text #{paragraph3}
    p.post__text.history__post-text #{paragraph4}
    p.post__text.history__post-text #{paragraph5}
    p.post__text.history__post-text #{paragraph6}
    img.post__img.history__post-img(src=`${image2}`, alt='Эмерсон Фиттипальди')
    p.post__text.history__post-text #{paragraph7}
    p.post__text.history__post-text #{paragraph8}
    img.post__img.history__post-img(src=`${image3}`, alt='Рик Мирз ("Пенске")')
    p.post__text.history__post-text #{paragraph9}
    p.post__text.history__post-text #{paragraph10}
    p.post__text.history__post-text #{paragraph11}
    img.post__img.history__post-img(src=`${image4}`, alt='Инди-500')
    p.post__text.history__post-text #{paragraph12}
    p.post__text.history__post-text #{paragraph13}
    p.post__text.history__post-text #{paragraph14}
    p.post__text.history__post-text #{paragraph15}
    p.post__text.history__post-text #{paragraph16}
    img.post__img.history__post-img(src=`${image5}`, alt='Луис Мейер')
    p.post__text.history__post-text #{paragraph17}
    p.post__text.history__post-text #{paragraph18}
    img.post__img.history__post-img(src=`${image6}`, alt='Старт гонок 1953года')
    p.post__text.history__post-text #{paragraph19}
    p.post__text.history__post-text #{paragraph20}
    p.post__text.history__post-text #{paragraph21}
    p.post__text.history__post-text #{paragraph22}
    img.post__img.history__post-img(src=`${image7}`, alt='А.Ансер-младший')
    p.post__text.history__post-text #{paragraph23}
    p.post__text.history__post-text #{paragraph24}
    img.post__img.history__post-img(src=`${image8}`, alt='Пит-стоп команды "Пенске"')
    p.post__text.history__post-text #{paragraph25}
    p.post__text.history__post-text #{paragraph26}
    p.post__text.history__post-text #{paragraph27}
    img.post__img.history__post-img(src=`${image9}`, alt='Мирс Снева Боэзел. Трасса в Финиксе')
    p.post__text.history__post-text #{paragraph28}
    p.post__text.history__post-text #{paragraph29}
    p.post__text.history__post-text #{paragraph30}
